<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    {{>header}}
</header>

<body>
    <div class="main-content">

        <p>{{errorMessage}}</p>
    </div>

</body>

<footer>
    {{>footer}}
</footer>

</html>